---
layout: page
title: User Stories
group: navigation
---
{% include themes/bootstrap/section.html sectionBody="themes/bootstrap/stories/intro.html" %}
{% include themes/bootstrap/section.html img="/assets/themes/bootstrap/img/user-story.png" sectionTitle="The Canadian Partnerships for Tomorrow Project" sectionBody="themes/bootstrap/stories/canadian-partnerships.html" noMargin=true %}
{% include themes/bootstrap/section.html img="/assets/themes/bootstrap/img/user-story.png" sectionTitle="The Canadian Longitudinal Study on Aging" sectionBody="themes/bootstrap/stories/canadian-longitudinal.html" %}
{% include themes/bootstrap/section.html img="/assets/themes/bootstrap/img/user-story.png" sectionTitle="Data harmonization and federation in BioSHaRE" sectionBody="themes/bootstrap/stories/data-harmonization.html" %}
