---
layout: page
title: OBiBa Debian Repository
---
{% include JB/setup %}
{% include themes/bootstrap/section.html sectionBody="themes/bootstrap/pkg/intro.html" %}
{% include themes/bootstrap/section.html img="/assets/themes/bootstrap/img/icon-opal.png" sectionTitle="Installing Opal" sectionBody="themes/bootstrap/pkg/install-opal.html" %}
{% include themes/bootstrap/section.html img="/assets/themes/bootstrap/img/icon-mica.png" sectionTitle="Installing Mica" sectionBody="themes/bootstrap/pkg/install-mica.html" %}
{% include themes/bootstrap/section.html icon="fa-info-circle" sectionTitle="Individual Package Downloads" sectionBody="themes/bootstrap/pkg/footer.html" %}
