---
layout: default
title: OBiBa
tagline: Open Source Software for Epidemiology
group: navigation
menu:
    submenu_products:
        title: Products
        items:
            /pages/products/onyx: Onyx
            /pages/products/opal: Opal
            /pages/products/datashield: DataSHIELD
            /pages/products/mica: Mica
            /pages/products/agate: Agate
            divider: divider
            /pages/stories: User Stories
            /pages/license: License
    /pages/download: Downloads
    submenu_documentation:
        title: Documentation
        items:
            http://onyxdoc.obiba.org: Onyx
            http://opaldoc.obiba.org: Opal
            http://datashield.ac.uk/: DataSHIELD
            http://micadoc.obiba.org: Mica
            http://agatedoc.obiba.org: Agate
            divider: divider
            /pages/presentations: Presentations
            /pages/publications: Publications
            /pages/infra: Infrastructure
    /pages/support: Support
    /pages/about: About
---
{% include JB/setup %}

<div class="obiba-home-message">
    {% include themes/bootstrap/home-message.html msgBody="themes/bootstrap/news/latest.html" %}
</div>

<div class="jumbotron overview">
    <div class="obiba-promo">
        <h1 class="obiba-main-title">Open Source Software for Epidemiology</h1>
        <br>

        <p class="obiba-small-horizontal-padding">Software solutions for data management, analysis and dissemination</p>

        <div class="obiba-promo-icon">
            <a class="obiba-product-link" href="#onyx">
                <img src="{{ ASSET_PATH }}/img/icon-onyx-small.png" class="obiba-img-responsive"
                     alt="collect"></a>
            <i class="fa fa-arrow-right obiba-small-horizontal-margin obiba-promo-icon-color"></i>
            <a class="obiba-product-link" href="#opal">
            <img src="{{ ASSET_PATH }}/img/icon-opal-small.png" class="obiba-img-responsive"
                 alt="store"></a>
            <i class="fa fa-arrow-right obiba-small-horizontal-margin obiba-promo-icon-color"></i>
            <a class="obiba-product-link" href="#datashield">
            <img src="{{ ASSET_PATH }}/img/icon-datashield-small.png" class="obiba-img-responsive"
                 alt="analyse"></a>
            <i class="fa fa-arrow-right obiba-small-horizontal-margin obiba-promo-icon-color"></i>
            <a class="obiba-product-link" href="#mica">
            <img src="{{ ASSET_PATH }}/img/icon-mica-small.png " class="obiba-img-responsive"
                 alt="publish"></a>
        </div>
    </div>

</div>


<div class="obiba-home-section-header">
    {% include themes/bootstrap/home-title.html sectionTitle="Our Applications" %}
</div>
<div class="obiba-large-bottom-margin">

    <div class="container {{topMargin}}">
    <section class="obiba-fix-navbar-section" id="onyx"></section>
    {% include themes/bootstrap/home-section.html img="/assets/themes/bootstrap/img/icon-onyx.png" sectionTitle="Collect with Onyx" sectionBody="themes/bootstrap/home/onyx.html" %}
    <section class="obiba-fix-navbar-section" id="opal"></section>
    {% include themes/bootstrap/home-section.html img="/assets/themes/bootstrap/img/icon-opal.png" sectionTitle="Store with Opal" sectionBody="themes/bootstrap/home/opal.html" %}
    <section class="obiba-fix-navbar-section" id="datashield"></section>
    {% include themes/bootstrap/home-section.html img="/assets/themes/bootstrap/img/icon-datashield.png" sectionTitle="Analyze with R and DataSHIELD" sectionBody="themes/bootstrap/home/datashield.html" %}
    <section class="obiba-fix-navbar-section" id="mica"></section>
    {% include themes/bootstrap/home-section.html img="/assets/themes/bootstrap/img/icon-mica.png" sectionTitle="Publish with Mica" sectionBody="themes/bootstrap/home/mica.html" %}
    <section class="obiba-fix-navbar-section" id="agate"></section>
    {% include themes/bootstrap/home-section.html img="/assets/themes/bootstrap/img/icon-agate.png" sectionTitle="Authenticate with Agate" sectionBody="themes/bootstrap/home/agate.html" %}
    </div>
</div>


<div class="obiba-home-section-header">
    {% include themes/bootstrap/home-title.html sectionTitle="What is OBiBa?" %}
</div>

<div class="obiba-home-section">
    {% include themes/bootstrap/section.html icon="fa-info-circle" sectionTitle="About" sectionBody="themes/bootstrap/home/intro.html" %}
</div>

<div class="obiba-home-section">
    {% include themes/bootstrap/section.html icon="fa-wrench" sectionTitle="An integrated suite of applications" sectionBody="themes/bootstrap/home/integrated-suite.html" %}
</div>

<div class="obiba-home-section">
    {% include themes/bootstrap/section.html icon="fa-book" sectionTitle="Citation" sectionBody="themes/bootstrap/home/citation.html" %}
</div>


<div class="obiba-home-section-header">
    {% include themes/bootstrap/home-title.html sectionTitle="Latest News" %}
</div>
<div class="obiba-home-section">
    {% include themes/bootstrap/section.html icon="fa-bullhorn" sectionBody="themes/bootstrap/news/list.html" %}
</div>


<div class="obiba-home-section-header">
    {% include themes/bootstrap/home-title.html sectionTitle="Our Partners" %}
</div>
<div class="obiba-home-section">
    {% include themes/bootstrap/home-images-section.html icon="fa-users" sectionBody="themes/bootstrap/partners/list.html" %}
</div>


<div class="obiba-home-section-header">
    {% include themes/bootstrap/home-title.html sectionTitle="Our Sponsors" %}
</div>
<div class="obiba-home-section">
    {% include themes/bootstrap/home-images-section.html img="/assets/themes/bootstrap/img/sponsors.png" sectionBody="themes/bootstrap/sponsors/list.html" %}
</div>
