---
layout: default
title: OBiBa!
tagline: Open Source Software for BioBankss
group: navigation
menu:
    submenu_products:
        title: Products
        items:
            /pages/products/onyx: Onyx
            /pages/products/opal: Opal
            /pages/products/datashield: DataSHIELD
            /pages/products/mica: Mica
            divider: divider
            /pages/stories: User Stories
    /pages/download: Downloads
    submenu_documentation:
        title: Documentation
        items:
            http://wiki.obiba.org/display/ONYXDOC/Onyx+Documentation+Home: Onyx
            http://wiki.obiba.org/display/OPALDOC/Home: Opal
            http://datashield.org/: DataSHIELD
            http://wiki.obiba.org/display/MICADOC/Home: Mica
            divider: divider
            http://wiki.obiba.org/pages/viewpage.action?pageId=22544438: Mica-Opal Tutorial
    /pages/about: About
---
{% include JB/setup %}

<div class="jumbotron overview">
    <div class="obiba-promo">
        <h1 class="obiba-main-title">Open Source Software for BioBanks</h1>
        <br>

        <p class="obiba-small-horizontal-padding">A comprehensive software solution for epidemiological data management and analysis</p>

        <div class="obiba-promo-icon">
            <a class="obiba-product-link" href="#onyx">
                <img src="{{ ASSET_PATH }}bootstrap/img/icon-onyx-small.png" class="obiba-img-responsive"
                     alt="collect"></a>
            <i class="fa fa-arrow-right obiba-small-horizontal-margin obiba-promo-icon-color"></i>
            <a class="obiba-product-link" href="#opal">
            <img src="{{ ASSET_PATH }}bootstrap/img/icon-opal-small.png" class="obiba-img-responsive"
                 alt="collect"></a>
            <i class="fa fa-arrow-right obiba-small-horizontal-margin obiba-promo-icon-color"></i>
            <a class="obiba-product-link" href="#datashield">
            <img src="{{ ASSET_PATH }}bootstrap/img/icon-datashield-small.png" class="obiba-img-responsive"
                 alt="collect"></a>
            <i class="fa fa-arrow-right obiba-small-horizontal-margin obiba-promo-icon-color"></i>
            <a class="obiba-product-link" href="#mica">
            <img src="{{ ASSET_PATH }}bootstrap/img/icon-mica-small.png " class="obiba-img-responsive"
                 alt="collect"></a>
        </div>
    </div>
</div>



<div class="obiba-home-section-header">
    {% include themes/bootstrap/home-title.html sectionTitle="Our Applications" %}
</div>
<div class="obiba-large-bottom-margin">

    <div class="container {{topMargin}}">
    <section class="obiba-fix-navbar-section" id="onyx"></section>
    {% include themes/bootstrap/home-section.html img="/assets/themes/bootstrap/img/icon-onyx.png" sectionTitle="Collect with Onyx" sectionBody="themes/bootstrap/home/onyx.html" %}
    <section class="obiba-fix-navbar-section" id="opal"></section>
    {% include themes/bootstrap/home-section.html img="/assets/themes/bootstrap/img/icon-opal.png" sectionTitle="Store with Opal" sectionBody="themes/bootstrap/home/opal.html" %}
    <section class="obiba-fix-navbar-section" id="datashield"></section>
    {% include themes/bootstrap/home-section.html img="/assets/themes/bootstrap/img/icon-datashield.png" sectionTitle="Analyze with R and DataSHIELD" sectionBody="themes/bootstrap/home/datashield.html" %}
    <section class="obiba-fix-navbar-section" id="mica"></section>
    {% include themes/bootstrap/home-section.html img="/assets/themes/bootstrap/img/icon-mica.png" sectionTitle="Publish with Mica" sectionBody="themes/bootstrap/home/mica.html" %}
    </div>
</div>


<div class="obiba-home-section-header">
    {% include themes/bootstrap/home-title.html sectionTitle="What is OBiBa?" %}
</div>

<div class="obiba-large-bottom-margin">
    {% include themes/bootstrap/section.html icon="fa-info-circle" sectionTitle="About" sectionBody="themes/bootstrap/home/intro.html" %}
</div>

<div class="obiba-home-section">
    {% include themes/bootstrap/section.html icon="fa-wrench" sectionTitle="An integrated suite of applications" sectionBody="themes/bootstrap/home/integrated-suite.html" %}
</div>


<div class="obiba-home-section-header">
    {% include themes/bootstrap/home-title.html sectionTitle="Latest News" %}
</div>
<div class="obiba-home-section">
    {% include themes/bootstrap/section.html icon="fa-bullhorn" sectionBody="themes/bootstrap/news/list.html" %}
</div>


<div class="obiba-home-section-header">
    {% include themes/bootstrap/home-title.html sectionTitle="Our Partners" %}
</div>
<div class="obiba-home-section">
    {% include themes/bootstrap/home-images-section.html icon="fa-users" sectionBody="themes/bootstrap/partners/list.html" %}
</div>


<div class="obiba-home-section-header">
    {% include themes/bootstrap/home-title.html sectionTitle="Our Sponsors" %}
</div>
<div class="obiba-home-section">
    {% include themes/bootstrap/home-images-section.html img="/assets/themes/bootstrap/img/sponsors.png" sectionBody="themes/bootstrap/sponsors/list.html" %}
</div>
