---
layout: default
title: OBiBa!
tagline: Open Source Software for BioBankss
group: navigation
menu:
    /pages/about: About
    submenu:
        title: Products
        items:
            /pages/software/onyx: Onyx
            /pages/software/opal: Opal
            /pages/software/datashield: DataSHIELD
            /pages/software/mica: Mica
    http://wiki.obiba.org/: Wiki
    /pages/download: Download
---
{% include JB/setup %}

<div class="jumbotron overview">
    <div class="obiba-promo">
        <h1>Open Source Software<br>For BioBanks</h1>
        <br>

        <p>Integrated application suite to manage epidemiological data life cycle</p>

        <div class="obiba-promo-icon">
            <img src="{{ ASSET_PATH }}bootstrap/img/icon-onyx-small.png" class="obiba-img-responsive"
                 alt="collect">
            <i class="fa fa-arrow-right obiba-small-horizontal-margin obiba-promo-icon-color"></i>
            <img src="{{ ASSET_PATH }}bootstrap/img/icon-opal-small.png" class="obiba-img-responsive"
                 alt="collect">
            <i class="fa fa-arrow-right obiba-small-horizontal-margin obiba-promo-icon-color"></i>
            <img src="{{ ASSET_PATH }}bootstrap/img/icon-datashield-small.png" class="obiba-img-responsive"
                 alt="collect">
            <i class="fa fa-arrow-right obiba-small-horizontal-margin obiba-promo-icon-color"></i>
            <img src="{{ ASSET_PATH }}bootstrap/img/icon-mica-small.png " class="obiba-img-responsive"
                 alt="collect">
        </div>
    </div>
</div>

<div class="obiba-home-section">
{% include themes/bootstrap/home-section.html icon="fa-question-circle" sectionTitle="What is OBiBa?" sectionBody="themes/bootstrap/home/intro.html" %}
</div>

<div class="obiba-softwares-header">
    <h3>Our Applications</h3>
</div>


<div class="obiba-home-section">
    {% include themes/bootstrap/home-section.html img="/assets/themes/bootstrap/img/icon-onyx.png" sectionTitle="Collect with Onyx" sectionBody="themes/bootstrap/home/onyx.html" %}
    {% include themes/bootstrap/home-section.html img="/assets/themes/bootstrap/img/icon-opal.png" sectionTitle="Store with Opal" sectionBody="themes/bootstrap/home/opal.html" %}
    {% include themes/bootstrap/home-section.html img="/assets/themes/bootstrap/img/icon-datashield.png" sectionTitle="Analyze with DataSHIELD" sectionBody="themes/bootstrap/home/datashield.html" %}
    {% include themes/bootstrap/home-section.html img="/assets/themes/bootstrap/img/icon-mica.png" sectionTitle="Publish with Mica" sectionBody="themes/bootstrap/home/mica.html" %}
</div>

<div class="obiba-softwares-header">
    <h3>News</h3>
</div>

<div class="obiba-home-section">
    {% include themes/bootstrap/home-section.html icon="fa-bullhorn" sectionTitle="Releases and Events" sectionBody="themes/bootstrap/news/list.html" %}
</div>

<div class="obiba-softwares-header">
    <h3>Our Partners</h3>
</div>

<div class="obiba-partners">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                {% for partner in site.data.partners %}
                <img src="{{ ASSET_PATH }}bootstrap/img/{{partner}}" class="obiba-img-responsive-padded"
                     alt="Responsive image">
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="obiba-softwares-header">
    <h3>Our Sponsors</h3>
</div>

<div class="obiba-sponsors">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                {% for sponsor in site.data.sponsors %}
                <img src="{{ ASSET_PATH }}bootstrap/img/{{sponsor}}" class="obiba-img-responsive-padded"
                     alt="Responsive image">
                {% endfor %}
            </div>
        </div>
    </div>
</div>
