---
layout: product
demo: "#demo"
wiki: http://wiki.obiba.org/display/ONYXDOC/Onyx+Documentation+Home
github: https://github.com/obiba/onyx
title: Collect with Onyx
---
{% include JB/setup %}
{% include themes/bootstrap/section.html icon="fa-info-circle" sectionTitle="What is Onyx?" sectionBody="themes/bootstrap/onyx/what.html" %}
{% include themes/bootstrap/section.html icon="fa-cogs" sectionTitle="Features" sectionBody="themes/bootstrap/onyx/features.html" %}
<section id="demo">
    {% include themes/bootstrap/section.html icon="fa-play-circle" sectionTitle="Try Onyx" sectionBody="themes/bootstrap/onyx/demo.html" %}
</section>
