---
layout: page
title: Downloads
---
{% include JB/setup %}
{% include themes/bootstrap/section.html icon="fa-certificate" sectionTitle="License Agreement" sectionBody="themes/bootstrap/download/license.html" %}

{% include themes/bootstrap/section.html icon="fa-file-code-o" sectionTitle="Source Code" sectionBody="themes/bootstrap/download/source-code.html" %}

<section class="obiba-fix-navbar-section" id="download">
    {% include themes/bootstrap/section.html icon="fa-download" sectionTitle="Downloading Onyx" sectionBody="themes/bootstrap/onyx/download.html" %}
</section>
<section class="obiba-fix-navbar-section" id="download">
    {% include themes/bootstrap/section.html icon="fa-download" sectionTitle="Downloading Opal" sectionBody="themes/bootstrap/opal/download.html" %}
</section>
<section class="obiba-fix-navbar-section" id="download">
    {% include themes/bootstrap/section.html icon="fa-download" sectionTitle="Downloading Mica" sectionBody="themes/bootstrap/mica/download.html" %}
</section>