---
layout: product
title: Manager Users with Agate
menu:
  download:
    href: "#download"
    target: _self
  demo:
    href: "#demo"
    target: _self
  github:
    href: http://github.com/obiba/agate
    target: _blank
  wiki:
    href: http://agatedoc.obiba.org
    target: _blank
---
{% include JB/setup %}
{% include themes/bootstrap/section.html icon="fa-info-circle" sectionTitle="What is Agate?" sectionBody="themes/bootstrap/agate/what.html" %}
{% include themes/bootstrap/section.html icon="fa-cogs" sectionTitle="Features" sectionBody="themes/bootstrap/agate/features.html" %}
<section class="obiba-fix-navbar-section" id="download">
    {% include themes/bootstrap/section.html icon="fa-download" sectionTitle="Download" sectionBody="themes/bootstrap/agate/download.html" %}
</section>
<section id="demo">
    {% include themes/bootstrap/section.html icon="fa-play-circle" sectionTitle="Try Agate" sectionBody="themes/bootstrap/agate/demo.html" %}
</section>
