---
layout: product
title: Store with Opal
menu:
  wiki:
    href: http://opaldoc.obiba.org
    target: _blank
  download:
    href: "#download"
    target: _self
  demo:
    href: "#demo"
    target: _self
  github:
    href: http://github.com/obiba/opal
    target: _blank
---
{% include JB/setup %}
{% include themes/bootstrap/section.html icon="fa-info-circle" sectionTitle="What is Opal?" sectionBody="themes/bootstrap/opal/what.html" %}
{% include themes/bootstrap/section.html icon="fa-cogs" sectionTitle="Features" sectionBody="themes/bootstrap/opal/features.html" %}
<section class="obiba-fix-navbar-section" id="download">
    {% include themes/bootstrap/section.html icon="fa-download" sectionTitle="Download" sectionBody="themes/bootstrap/opal/download.html" %}
</section>
<section id="demo">
    {% include themes/bootstrap/section.html icon="fa-play-circle" sectionTitle="Try Opal" sectionBody="themes/bootstrap/opal/demo.html" %}
</section>
