---
layout: page
title: Presentations about OBiBa
group: navigation
---
{% include themes/bootstrap/section.html icon="fa-info-circle" sectionTitle="OBiBa Software Stack" sectionBody="themes/bootstrap/presentations/obiba-stack.html" %}

{% include themes/bootstrap/section.html icon="fa-info-circle" sectionTitle="OBiBa Development Tools and Methods" sectionBody="themes/bootstrap/presentations/obiba-dev.html" %}

{% include themes/bootstrap/section.html icon="fa-cogs" sectionTitle="Onyx Development" sectionBody="themes/bootstrap/presentations/onyx-dev.html" %}
