---
layout: page
title: OBiBa RPM Repository
---
{% include JB/setup %}
{% include themes/bootstrap/section.html sectionBody="themes/bootstrap/rpm/intro.html" %}
{% include themes/bootstrap/section.html img="/assets/themes/bootstrap/img/icon-opal.png" sectionTitle="Installing Opal" sectionBody="themes/bootstrap/rpm/install-opal.html" %}
{% include themes/bootstrap/section.html img="/assets/themes/bootstrap/img/icon-mica.png" sectionTitle="Installing Mica" sectionBody="themes/bootstrap/rpm/install-mica.html" %}
{% include themes/bootstrap/section.html img="/assets/themes/bootstrap/img/icon-agate.png" sectionTitle="Installing Agate" sectionBody="themes/bootstrap/rpm/install-agate.html" %}
{% include themes/bootstrap/section.html icon="fa-info-circle" sectionTitle="Individual Package Downloads" sectionBody="themes/bootstrap/rpm/footer.html" %}
