---
layout: product
wiki: http://wiki.obiba.org/display/MICADOC/Home
download: http://download.obiba.org/mica/stable/
github: http://github.com/obiba/mica
demo: http://wiki.obiba.org/pages/viewpage.action?pageId=22544438
title: Publish with Mica
---
{% include JB/setup %}
{% include themes/bootstrap/section.html icon="fa-info-circle" sectionTitle="What is Mica?" sectionBody="themes/bootstrap/mica/what.html" %}
{% include themes/bootstrap/section.html icon="fa-cogs" sectionTitle="Features" sectionBody="themes/bootstrap/mica/features.html" %}
